body {
    background-color: goldenrod;
}
h1 {
    text-align: center;
}
img {
    position: absolute;
    height: 400px;
    width: 450px;
    margin-left: 550px;
}
#uneaten {
    font-weight: bolder;
    float: left;
}
#eaten {
    opacity: 0.25;
    font-weight: bolder;
    float: right;
    padding-right: 30px;

}
.devoured {
    font-weight: bolder;
}

#make {
    clear:both;
    text-align: center;
}
#label {
    font-weight: bolder;
}
#submit {
    font-weight: bolder;
}
.maker {
    position: absolute;
    margin-top: 400px;
    margin-left: 620px;

}
.create-form {
    text-align: center;
}
#bd {
    position: relative;
    margin-left: 1200px;
}
