body {
    background-color: goldenrod;
}
h1 {
    text-align: center;
}
img {
    height: 200px;
    width: 200px;
    margin-left: 80px;
}
#uneaten {
    font-weight: bolder;
    float: left;
}
#eaten {
    font-weight: bolder;
    float: right;
    /* opacity: 0.5; */
}

#make {
    clear:both;
    text-align: center;
}
.create-form {
    text-align: center;
}
/* .create-form {
clear: both;
} */